@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-category {
  @apply self-center my-2 lg:my-0 text-lg opacity-70 hover:opacity-100 ease-in duration-100;
}

.hideAnimation {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(20%);
  transition: all 1s;
}
.showAnimation {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
